In [106]:
import pandas as pd

In [107]:
terrorism_csv = "Resources/globalterrorismdb_0718dist.csv"

In [108]:
terrorism_data = pd.read_csv(terrorism_csv, encoding="ISO-8859-1", low_memory=False)

In [109]:
terrorism_df = terrorism_data[['iyear', 'imonth', 'country_txt', 'region_txt', 'gname', 'attacktype1_txt', 'weaptype1_txt']]

In [110]:
terrorism_df.head(5)

,iyear,imonth,country_txt,region_txt,gname,attacktype1_txt,weaptype1_txt
0,1970,7,Dominican Republic,Central America & Caribbean,MANO-D,Assassination,Unknown
1,1970,0,Mexico,North America,23rd of September Communist League,Hostage Taking (Kidnapping),Unknown
2,1970,1,Philippines,Southeast Asia,Unknown,Assassination,Unknown
3,1970,1,Greece,Western Europe,Unknown,Bombing/Explosion,Explosives
4,1970,1,Japan,East Asia,Unknown,Facility/Infrastructure Attack,Incendiary

In [111]:
terrorism_df.shape

(181691, 7)

In [112]:
terrorism_df.isnull().any()

iyear              False
imonth             False
country_txt        False
region_txt         False
gname              False
attacktype1_txt    False
weaptype1_txt      False
dtype: bool

In [113]:
terrorism_df= terrorism_df.query('(iyear > 1983 & iyear <= 2013) or (iyear == 1983 & imonth >= 4)')

terrorism_df = terrorism_df.drop('imonth = 0')

In [114]:
terrorism_df.shape

(106908, 7)

In [115]:
terrorism_df.to_csv('terrorismCleanData.csv', index=False)